<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techrebbe.supernote.virtualspread"
    android:versionCode="18"
    android:versionName="0.0.18">

    <uses-sdk
        android:minSdkVersion="27"
        android:targetSdkVersion="28" />

    <application
        android:allowBackup="false"
        android:hasCode="true"
        android:label="Supernote Virtual Spread Navigation"
        android:supportsRtl="true">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="RTL navigation for generated native virtual-spread PDFs" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
    </application>
</manifest>
