<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techrebbe.supernote.spreadprobe"
    android:versionCode="120"
    android:versionName="0.0.120">

    <uses-sdk
        android:minSdkVersion="27"
        android:targetSdkVersion="28" />

    <application
        android:allowBackup="false"
        android:extractNativeLibs="false"
        android:hasCode="true"
        android:label="Supernote Native Spread Probe"
        android:supportsRtl="true">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Opt-in RTL native-reader spreads with verified annotation recovery" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
    </application>
</manifest>
